*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
.logo{
  width: 200px;
  height: 200px;
  float: left;
}
html{
  background-color: gray;
  background-image: url(pic1.jpg);
}
.row{
  max-width: 1200px;
  margin: auto;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 30px;
}
.main-nav li{
  display: inline-block;
}
